{
    "mqtt": {
        "client_id": "mqtt_subscriber",
        "server_uri": "tcp://mqtt_broker:1883",
        "password": "",
        "port": 1883,
        "topic": "house/#",
        "user": "postgres"
    },
    "postgres": {
        "dbname": "telemetry",
        "host": "postgres_server",
        "password": "telemetry",
        "port": 5432,
        "user": "telemetry"
    }
}