[Unit]
Description=Telemetry MQTT subscriber
After=mosquitto.service
Requires=mosquitto.service

[Service]
Type=idle
ExecStart=/opt/telemetry/mqtt_subscriber/build/mqtt_subscriber -v -c /opt/telemetry/config/mqtt.json
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
